# Python cachers
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/

# Spark/Hadoop artifacts
*.logging
core.*
derby.log
metastore_db/
spark-warehouse/

# IDE configurations
.idea/
.vscode/

# Local Heavy Java/Binaries (Не пушим в Git!)
java.tar.gz
java/
libs/
key.txt

# Terraform local state & providers (Критично!)
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
